a {
    text-decoration: none;
}

.cnmi_flag_color {
    background-color: #3CA9EB;
}

.outline {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

thead > tr {
    background-color: #000000;
    color: #FFFFFF;
}

.nav-text {
    font-size: 17px;
}

.even {
    background-color: #FFFFFF;
    color: #000000;
}

.odd {
    background-color: #FFECB5;
    color: #000000;
}
